#
#
# .gitignore
#
#
# Created by Mathias de Cacqueray Valmenier on 16/11/2016.
#
# Copyright (c) 2016 Mathias de Cacqueray Valmenier. All rights reserved.
*.png
*.sqlite3
*.pyc
.coverage
node_modules/
webpack-stats.json
sqldata
static/bundles/
*.log
*.sql
package-lock.json
*.db
*.orig
venv/
*.bak
.ipynb_checkpoints/
*.sqlite
`.dump
*.DS_Store
*.csv
stocktools/store-sql/
*.secret

